:root {
  --background: var(--color-light-bg);
  --foreground: var(--color-light-tx);
  --card: var(--color-light-bg);
  --card-foreground: var(--color-light-tx);
  --popover: var(--color-light-bg);
  --popover-foreground: var(--color-light-tx);
  --primary: var(--color-light-bl);
  --primary-foreground: var(--color-light-bg);
  --secondary: var(--color-light-ui);
  --secondary-foreground: var(--color-light-tx);
  --muted: var(--color-light-ui-2);
  --muted-foreground: var(--color-light-tx-2);
  --accent: var(--color-light-ui);
  --accent-foreground: var(--color-light-tx);
  --destructive: var(--color-light-re);
  --destructive-foreground: var(--color-light-bg);
  --border: var(--color-light-ui-2);
  --input: var(--color-light-ui-2);
  --ring: var(--color-light-bl);
  --chart-1: var(--color-light-bl);
  --chart-2: var(--color-light-gr);
  --chart-3: var(--color-light-or);
  --chart-4: var(--color-light-pu);
  --chart-5: var(--color-light-ma);
  --radius: 0.625rem;
  --sidebar: var(--color-light-bg-2);
  --sidebar-foreground: var(--color-light-tx);
  --sidebar-primary: var(--color-light-bl);
  --sidebar-primary-foreground: var(--color-light-bg);
  --sidebar-accent: var(--color-light-ui);
  --sidebar-accent-foreground: var(--color-light-tx);
  --sidebar-border: var(--color-light-ui-2);
  --sidebar-ring: var(--color-light-bl);
}

.dark {
  --background: var(--color-dark-bg);
  --foreground: var(--color-dark-tx);
  --card: var(--color-dark-bg);
  --card-foreground: var(--color-dark-tx);
  --popover: var(--color-dark-bg);
  --popover-foreground: var(--color-dark-tx);
  --primary: var(--color-dark-bl);
  --primary-foreground: var(--color-dark-bg);
  --secondary: var(--color-dark-ui);
  --secondary-foreground: var(--color-dark-tx);
  --muted: var(--color-dark-ui-2);
  --muted-foreground: var(--color-dark-tx-2);
  --accent: var(--color-dark-ui);
  --accent-foreground: var(--color-dark-tx);
  --destructive: var(--color-dark-re);
  --destructive-foreground: var(--color-dark-bg);
  --border: var(--color-dark-ui-2);
  --input: var(--color-dark-ui-2);
  --ring: var(--color-dark-bl);
  --chart-1: var(--color-dark-bl);
  --chart-2: var(--color-dark-gr);
  --chart-3: var(--color-dark-or);
  --chart-4: var(--color-dark-pu);
  --chart-5: var(--color-dark-ma);
  --sidebar: var(--color-dark-bg-2);
  --sidebar-foreground: var(--color-dark-tx);
  --sidebar-primary: var(--color-dark-bl);
  --sidebar-primary-foreground: var(--color-dark-bg);
  --sidebar-accent: var(--color-dark-ui);
  --sidebar-accent-foreground: var(--color-dark-tx);
  --sidebar-border: var(--color-dark-ui-2);
  --sidebar-ring: var(--color-dark-bl);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
