:root {
  --scrollbar-thumb: rgba(75, 86, 105, 0.27);
}

.dark {
  --scrollbar-thumb: rgba(85, 84, 84, 0.78);
}

html,
body,
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

html:hover,
body:hover,
*:hover {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

@layer components {
  .scroll-hidden::-webkit-scrollbar {
      scrollbar-width: none;
  }
}
