:hover > .subheading-anchor {
  @apply opacity-100;
}

.subheading-anchor {
  @apply ms-1;

  @apply opacity-0 transition;

  :target > &,
  &:focus {
    @apply opacity-100;
  }

  :target > & {
    /* https://github.com/tailwindlabs/tailwindcss/issues/15597#issuecomment-2582673546 */
    @apply after:text-gray-500 dark:after:text-neutral-500;
  }

  &:after {
    @apply content-['#'] px-1;
  }
  /* https://github.com/tailwindlabs/tailwindcss/issues/15597#issuecomment-2582673546 */
  @apply after:text-gray-400 dark:after:text-neutral-600;
}
