:hover > .subheading-anchor {
  @apply opacity-100;
}

.subheading-anchor {
  :target > &,
  &:focus {
    @apply opacity-100;
  }

  :target > & {
    /* https://github.com/tailwindlabs/tailwindcss/issues/15597#issuecomment-2582673546 */
    @apply after:text-muted-foreground;
  }

  &::after {
    @apply px-1 content-['#'];
  }
  @apply ms-1;
  @apply opacity-0 transition;

  /* https://github.com/tailwindlabs/tailwindcss/issues/15597#issuecomment-2582673546 */
  @apply after:text-muted-foreground;
}
