@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@source "./**/*.{ts,tsx}";

@import "./styles/default.css";
@import "./styles/code-block.css";
@import "./styles/react-medium-image-zoom.css";
@import "./styles/scrollbar.css";
@import "./styles/subheading-anchor.css";
@import "./styles/toc.css";

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
